.easemind-footer {
    display: flex;
    flex-grow: 1;
    height: auto;
    background-color: var(--mui-palette-color-black) !important;

    &--logged {
        background-color: var(--mui-palette-primary-main) !important;
    }
    .container {
        height: 100%;
    
        @media (max-width: 750px) {
            & > div {
                gap: 1.5rem;
                padding: 32px 16px;
            }
        }
        
        @media (max-width: 700px) {
            & > div {
                flex-direction: column;
                gap: 2rem;
                width: fit-content;
                margin: 0 auto;
            }
        }
    }
    .logo-footer {
        filter: brightness(0) invert(.7);
    }
}


